# This is Git's per-user configuration file.
[user]
	name = VovaGula
  email = gula.volodya@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  type = cat-file -t
  dump = cat-file -p
[core]
  excludesfile = /home/vova/.gitignore
  editor = nvim

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[user]
[pull]
  default = current
[push]
  default = current
