# This is Git's per-user configuration file.
[user]
  name = VovaGula
  email = gula.volodya@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  type = cat-file -t
  dump = cat-file -p
[core]
  excludesfile = /home/vova/.gitignore
  editor = nvim
  pager = delta
[diff]
  tool = vimdiff
  colorMoved = default
[include]
  path = /home/vova/.myconfig/delta/themes.gitconfig
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false 
  line-numbers = true
  side-by-side = true
  hyperlinks = true
  ; features = woolly-mammoth
  features = mantis-shrimp
[difftool]
  prompt = false
[merge]
  conflictStyle = diff3
  tool = vimdiff
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
  default = current
[push]
  default = current
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

